table, th, tr, td {
  border : 1px solid;
  border-collapse: collapse;
}

code {
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  border: 0.5px solid;
  background-color: black;
  color: white;

  /* scrollbar setting */
  scrollbar-color: #424242 black; /* 스크롤바 색상 (#888: 핸들, #f1f1f1: 배경) */
  scrollbar-width: thin; /* 스크롤바 너비: auto, thin, none */
}


/* Layout base */
#app {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  width: calc(100% - 20px); /* Adjusted for consistent padding calculation */
  height: 25px;
  border-bottom: 1px solid black;
}

#content-outer {
  position: fixed;
  top: 46px;
  left: 0;
  width: 100%;
  height: calc(100% - 46px);
  overflow-y: scroll;
}

#content {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20vh;
}

#doc-history, #edit {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#edit {
  height: 80vh; /* Specific height for edit */
}

/* Header elements */
#title {
  float: left;
}

/* #title-content {
  margin: 0;
  padding: 0;
  cursor: pointer;
} */

#menu {
  float: right;
}

#search {
  margin-right: 10px;
  display: inline-block;
}

#search-bar {
  width: 150px;
}

#view-image {
  width: 100%;
}

#registerDiv label {
  display: inline-block;
  width: 10em;
}

#registerDiv div {
  margin-top: 10px;
  margin-bottom: 10px;
}

#title-button {
  background-color: transparent;
  border: 0px;
  /* height: 100%; */
  font-size: large;
}

#login-status {
  margin: 0;
  padding: 0;
}


/* Media queries for responsive adjustments */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #313131;
    color: #fff;
  }

  a {
    color: #add8e6;
  }

  #header {
    border-bottom: 1px solid white;
  }

  #title-button {
    color: white;
  }
}

@media (max-width: 900px) {
  #content {
    width: calc(100% - 40px);
    padding: 20px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  #content {
    width: 90%;
  }
}
