/* * {
  font-family: Arial, Helvetica, sans-serif;
} */

table, th, tr, td {
  border : 1px solid;
  border-collapse: collapse;
}

code {
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  /* border: 0.5px solid; */
  background-color: black;
  color: white;

  /* scrollbar setting */
  scrollbar-color: #424242 black; /* 스크롤바 색상 (#888: 핸들, #f1f1f1: 배경) */
  scrollbar-width: thin; /* 스크롤바 너비: auto, thin, none */
}

textarea:focus {
  outline: none;
}

button, input[type="submit"] {
  background-color: #add8e6;
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  height: 22.5px;
}

a {
  text-decoration: none;
  color: #4747ff;
}

input:not( input[type="button"], input[type="submit"], input[type="checkbox"]) {
  border: 0;
  border-radius: 3px;
  height: 22.5px;
  background-color: #ececec;
}

/* Layout base */
#app {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  width: calc(100% - 20px); /* Adjusted for consistent padding calculation */
  height: 25px;
  border-bottom: 1px solid black;
}

#progress-stat {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 2px;
}

#progress-bar {
  position: fixed;
  height: 2px;
  width: 0%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #00bfff;
}

#content-outer {
  position: fixed;
  top: 47px;
  left: 0;
  width: 100%;
  height: calc(100% - 47px);
  overflow-y: scroll;
  background-color: #f8f5f5;
}

#content {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 21px;
  background-color: white;
  padding: 0 10px 20vh 10px;
  border-radius: 10px;
}

#doc-history, #edit {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#edit {
  height: 80vh; /* Specific height for edit */
}

/* Header elements */
#title {
  float: left;
}

/* #title-content {
  margin: 0;
  padding: 0;
  cursor: pointer;
} */

#menu {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#search {
  margin-right: 10px;
  display: inline-block;
}

#searchbar-wrapper {
  display: inline-block;
}

/* #searchbar-wrapper:hover #search-list{
  display: block;
} */

#search-list {
  display: none;
  position: fixed;
  width: 150px;
  height: 200px;
  background-color: white;
  overflow-y: scroll;
  border: 0.5px solid;
  /* z-index: index 1; ; */
}

#search-list:hover {
  display: block;
}

#search-bar {
  width: 150px;
  margin-left: 4px;
  /* height: 100%; */
}


.searchopt {
  /* border-top: 0.5px solid ; */
  border-bottom: 0.5px solid ;
  margin: 1px;
  cursor: pointer;
  padding: 3px;
}


#view-image {
  width: 100%;
}

#registerDiv label {
  display: inline-block;
  width: 10em;
}

#registerDiv div {
  margin-top: 10px;
  margin-bottom: 10px;
}

#title-button {
  background-color: transparent;
  border: 0px;
  /* height: 100%; */
  font-size: large;
}

#login-status {
  display: inline-block;
  height: 100%;
}

#preview-dialog {
  width: 80%;
  height: 80%;
  border-radius: 1%;
  border: 0px;
}

#preview-content {
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0px auto;
  overflow-y: scroll;
}

#loginForm input[type="text"], #loginForm input[type="password"] {
  margin: 2px;
}


#diffDiv {
  /* overflow-y: scroll; */
  width: 100%;
}

#diffDiv .diff-add {
  color: green;
}

#diffDiv .diff-del {
  color: red;
}

/* Media queries for responsive adjustments */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #313131;
    color: #fff;
  }

  a {
    color: #add8e6;
  }

  #header {
    border-bottom: 1px solid white;
  }

  #title-button {
    color: white;
  }

  #preview-dialog {
    background-color: #313131;
    color: #fff;
  }

  #content-outer {
    background-color: #313131;
  }

  #content {
    background-color: #1b1b1b;
    color: white;
  }

  #search-list {
    background-color: #313131;
    color: white;
  }

  input:not( input[type="button"], input[type="submit"], input[type="checkbox"]), textarea {
    background-color: #646464;
    color: white;
    
  }

  input::placeholder {
    color: white;
  }
}


@media (max-width: 900px) {
  #content-outer {
    background-color: transparent;
  }

  #content {
    width: calc(100% - 40px);
    padding: 20px;
    background-color: transparent;
  }

  #loginForm {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #loginBtn {
    grid-column: 2;
    grid-row: 1 / span 2;
    height: 100%;
    width: 90px;
    margin-left: 2px;
    /* width: 100px; */
  }

  #loginForm input[name="userID"] {
    grid-column: 1;
    grid-row: 1;
  }

  #loginForm input[name="userPW"] {
    grid-column: 1;
    grid-row: 2;
  }

}

@media (min-width: 901px) and (max-width: 1200px) {
  #content {
    width: 90%;
  }



}
